doctype html

html
  head
    meta( charset="utf-8" )
    title Hello
  
    link( rel="icon", href="assets/css/i/icons/favicon.ico" )
    link( rel="stylesheet", href="/assets/css/style.css" )
    
    script( type="text/javascript", src="/assets/script/js/" + name + ".min.js" )
  
  body
    
    .someclass
      | Hello #{ title }
      